body {
	font-size: 30px;
	font-family: 'Cabin Sketch', cursive;
	color: #373d3f;
	background-image: url('../images/background.png');
	background-size: cover;
}
h1 {
	font-size: 4.5em;
}
form {
	margin-top: 100px;
}
#used-letters {
	display: inline-block;
	padding: 10px;
}
#word-board {
	font-size: 100px;

}
#hangman {
	margin-top: -60px;
	margin-left: 50px;
}
.modal-title {
	font-size: 40px;
}
.modal-body {
	font-size: 30px;
}
.btn-dark{
	font-size: 25px;
	background: #343a40;
	color: white;
}
